@import "./Colors.scss";

* {
  font-family: sans-serif;
}

h1 {
  color: white;
}

.movie-list {
  padding: 2%;
  h2 {
    color: $font-secondary;
    text-align: left;
    padding: 1%;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.show-list {
  padding: 2%;
  h2 {
    color: $font-secondary;
    text-align: left;
    padding: 1%;
  }
}

.show-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
